# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# SQLite database
*.db

# Flask
instance/

node_modules/

.env
backend/.env

database/import_onet.py
import_onet.py

*.xlsx
/data/*.xlsx

/ai/key.py